    @using CSharksWebshop.Models;
@model IEnumerable<CSharksWebshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h2>Admin</h2>



        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@

        

        
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAvailable)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UrlFriendlyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Manufacturer)
                        </th>
                        <th>@Html.ActionLink("Create New", "Create", null, null, new { role = "button", @class = "btn btn-light" })</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAvailable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UrlFriendlyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manufacturer)
                            </td>
                            <td>

                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Deactivate Product", "Delete", new { id = item.ID }) |
                                @*@Html.ActionLink("Activate Product", "Delete", new { id = item.ID }) |*@
                                @*@Html.ActionLink("Add To Basket", "AddToBasket", new { id = item.ID })*@


                                <!--<input type="button" onclick="ShowProductData();" name="@item.ID" value="Add to Basket" />-->
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>


        </div>

