@model IEnumerable<CSharksWebshop.Models.Order>
@using CSharksWebshop.DataModels;
@using CSharksWebshop.Models;
@using CSharksWebshop.Controllers;

@{
    ViewBag.Title = "Index";
    WebshopModel db = new WebshopModel();
    string userId = UserAuthentication.WhoAmI(User, Session);
    Order currentOrder = db.Orders.Where(x => x.UserID == userId).OrderByDescending(x => x.OrderID).FirstOrDefault();
    List<BasketEntry> myOrderEntry = db.BasketEntries.Where(x => x.UserID == userId).Select(x => x).ToList();
    int orderPriceSum = 0;
    string currentUser = UserAuthentication.WhoAmI(User, Session);

    List<Product> productList = new List<Product>();

    foreach (var item in myOrderEntry)
    {
        Product product = db.Products.Where(x => x.ID == item.ProductID).Select(x => x).FirstOrDefault();
        productList.Add(product);
    }
}

<h2>SendMyOrder</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            ProductName
        </th>
        <th>
            ProductPrice
        </th>
        <th>
            Quantity
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            ProductDescription
        </th>
        <th></th>
    </tr>

    @foreach (var item in productList)
    {
        orderPriceSum += item.ProductPrice * db.BasketEntries.Find(currentUser, item.ID).Quantity;
        BasketEntry basketEntry = myOrderEntry.Where(x => x.ProductID == item.ID).Select(x => x).FirstOrDefault();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)

            </td>
            <td>
                @Html.DisplayFor(modelItem => basketEntry.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @* Delete maradhat csak át kell írni, hogy kivegye a "kosárból" *@

            </td>
        </tr>
    }

</table>
Total Price:
@orderPriceSum
</p>
@Html.ActionLink("Back to Shop", "Index", "Shop", new { /* id=item.PrimaryKey */ }, null) |
@Html.ActionLink("Confirm Order", "AddToOrderEntries", "Order", null, null)


