<h5 id="h5font" class="card-header">Your basket <span class="badge badge-pill badge-secondary">@basketQuantity</span></h5>

<ul class="list-group list-group-flush">
    @foreach (var item in currentProdNames)
    {

        <li class="list-group-item">
            @Html.DisplayFor(modelItem => item.ProductName)
            @item.ProductPrice €
            @{
                List<BasketEntry> UserBasketEntries = TempData["ProductNameAndCount"] as List<BasketEntry>;
                if (UserBasketEntries != null)
                {
                    BasketEntry currentEntry = UserBasketEntries.Where(x => x.ProductID == item.ID).FirstOrDefault();


                    <span class="badge badge-success">@currentEntry.Quantity pcs</span>
                    BasketSum += item.ProductPrice * db.BasketEntries.Find(currentUser, item.ID).Quantity;
                }

            }

        </li>


    }
</ul>
<div class="card-body">

    @Html.ActionLink("Show Basket", "ShowBasket", "Basket", null, new { @class = "card-link" }) |
    @Html.ActionLink("Empty basket", "ClearBasket", "Basket")
</div>
<div class="card-footer text-muted">

    @Html.ActionLink("Order", "ShowBasket", "Basket", null, new { @class = "btn btn-info btn-sm" }) |  @BasketSum €

</div>
