@using CSharksWebshop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <div class="form-label-group">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <label for="Email">Email address</label>
                        </div>

                        <div class="form-label-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <label for="Password">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label for="RememberMe">Remember password</label>
                        </div>
                        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block text-uppercase" />
                        <hr class="my-4">
                        @Html.ActionLink("Register as a new user", "Register")

                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
