@model CSharksWebshop.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
                                <label for="Email">Email address</label>
                            </div>

                            <hr>

                            @*//ezt adtam hozzá én*@
                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="FirstName">FirstName</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="LastName">LastName</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="UserName">UserName</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="City">City</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="Street">Street</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="HouseNumber">HouseNumber</label>
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", placeholder = "Firstname" })
                                <label for="PostCode">PostCode</label>
                            </div>

                            @*//////////////////////*@
                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                <label for="Password">Password</label>
                            </div>
                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
                                <label for="Password">Confirm password</label>
                            </div>
                            <input type="submit" class="btn-lg btn-primary btn-block text-uppercase" value="Register" />
                            <a class="d-block text-center mt-2 small" href="#">Sign In</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
